{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header id="movie-header">
        <h1>{{ movies_title }}</h1>
    </header>

    <nav style="clear:both">
            <div style="float:left">
                {% if first_movie_url is not none %}
                    <button class="btn-general" onclick="location.href='{{first_movie_url}}'">First</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>First</button>
                {% endif %}
                {% if prev_movie_url is not none %}
                    <button class="btn-general" onclick="location.href='{{prev_movie_url}}'">Previous</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>Previous</button>
                {% endif %}
            </div>
            <div style="float:right">
                {% if next_movie_url is not none %}
                    <button class="btn-general" onclick="location.href='{{next_movie_url}}'">Next</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>Next</button>
                {% endif %}
                {% if last_movie_url is not none %}
                    <button class="btn-general" onclick="location.href='{{last_movie_url}}'">Last</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>Last</button>
                {% endif %}
            </div>
        </nav>

    {% for movie in movies %}
    <article id="movie">
        <h2>{{movie.title}}</h2>
        <p>{{movie.release_year}}</p>
        <p>{{movie.description}}</p>
        <br>
        <p>Director: {{movie.director.director_name}}</p>
        <p>Runtime: {{movie.runtime_minutes}} minutes</p>
        <p>Rating: {{movie.rating}}</p>
        <p>Votes: {{movie.votes}}</p>
        <p>Revenue: ${{movie.revenue}} million</p>
        <p>Metascore: {{movie.metascore}}</p>
        <br>
        <h3>Actors and Actresses</h3>
        <div>
            {% for actor in movie.actors %}
            <p>{{actor.actor_name}}</p>
            {% endfor %}
        </div>
        <br>
         <div style="float:left">
            {% for genre in movie.genres %}
            <button class="btn-general" onclick="location.href='{{ genre_urls[genre.genre_name] }}'">{{ genre.genre_name }}</button>
            {% endfor %}
        </div>
        <div style="float:right">
            {% if movie.reviews|length > 0 %}
                <button class="btn-general" onclick="location.href='{{ movie.view_review_url }}'">{{ movie.reviews|length }} Reviews</button>
            {% endif %}
            <button class="btn-general" onclick="location.href='{{ movie.add_review_url }}'">Review</button>
        </div>
        <br>
        {% if movie.rank == show_reviews_for_movie %}
        <div style="clear:both">
            {% for review in movie.reviews %}
                <p>{{review.review_text}}, I rate this movie {{review.rating}}/10. Reviewed on {{review.timestamp}}</p>
                <button id="like-btn">👍</button>
                <button id="dislike-btn">👎</button>
            {% endfor %}
        </div>
        {% endif %}
    </article>
    {% endfor %}

    <footer>
        <nav style="clear:both">
            <div style="float:left">
                {% if first_movie_url is not none %}
                    <button class="btn-general" onclick="location.href='{{first_movie_url}}'">First</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>First</button>
                {% endif %}
                {% if prev_movie_url is not none %}
                    <button class="btn-general" onclick="location.href='{{prev_movie_url}}'">Previous</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>Previous</button>
                {% endif %}
            </div>
            <div style="float:right">
                {% if next_movie_url is not none %}
                    <button class="btn-general" onclick="location.href='{{next_movie_url}}'">Next</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>Next</button>
                {% endif %}
                {% if last_movie_url is not none %}
                    <button class="btn-general" onclick="location.href='{{last_movie_url}}'">Last</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>Last</button>
                {% endif %}
            </div>
        </nav>
    </footer>
</main>
{% endblock %}